Options +FollowSymlinks
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^forum/ forum/index.php [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^partage/ membres/index.php [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ nouveau/Web [QSA,L]