<?xml version="1.0" encoding="utf-8" ?>
<definitions>
  <define var="nombre_news_par_page" value="5" />
  <define var="nombre_commentaire_news_par_page" value="15" />
  <define var="nombre_caracteres" value="-1" />
  <define var="HAUTEUR_MINIMALE_AVATAR" value="100" />
  <define var="LARGEUR_MINIMALE_AVATAR" value="100" />
</definitions>