<?xml version="1.0" encoding="iso-8859-1"?>
<routes>
	<!-- MODULE NEWS -->
		<route url="/" module="News" action="index"/>
		<route url="" module="News" action="index"/>
		<route url="/accueil" module="News" action="index"/>
		<route url="/frontend.php" module="News" action="redirection"/><!-- Décommenté -->
		<route url="/accueil-([0-9]+)" module="News" action="index" vars="page"/>
		<route url="/news-([0-9]+)-([0-9]+)(?:-(.+))?" module="News" action="news" vars="id,page"/>
		<route url="/news-([0-9]+)(?:-(.+))?" module="News" action="news" vars="id"/>
		<route url="/commenter-([0-9]+)(?:-(.+))" module="News" action="insererCommentaire" vars="news"/>
	
	<!-- MODULE PAGE FIXE -->
	<!-- Page affichant du texte qui ne s'archive pas -->
		<route url="/presentation" module="PageFixe" action="pageFixe"/>
		<route url="/mentions-legales" module="PageFixe" action="pageFixe"/>
		<route url="/contacts" module="PageFixe" action="pageFixe"/>
		
	<!-- MODULE PARTENAIRE -->
	<!-- Pages affichant la liste des partenaires -->
		<route url="/partenaires" module="Partenaire" action="index"/>
		
	<!-- MODULE PAGE ARCHIVABLE -->
	<!-- Pages affichant du texte qui s'archive chaque année -->
		<route url="/presentation-robot(?:-([0-9]{4}-[0-9]{4}))?" module="PageArchivable" action="pageArchivable" vars="annee"/>
		<route url="/robot-mecanique(?:-([0-9]{4}-[0-9]{4}))?" module="PageArchivable" action="pageArchivable" vars="annee"/>
		<route url="/robot-electronique(?:-([0-9]{4}-[0-9]{4}))?" module="PageArchivable" action="pageArchivable" vars="annee"/>
		<route url="/robot-programmation(?:-([0-9]{4}-[0-9]{4}))?" module="PageArchivable" action="pageArchivable" vars="annee"/>
		
	<!-- MODULE MEMBRES -->
	<!-- Pages affichant la liste des membres ou un memebre en particulier -->
		<route url="/equipe(?:-([0-9]{4}-[0-9]{4}))?" module="Equipe" action="equipe" vars="annee"/>
		<route url="/equipe-([0-9]+)(?:-(.+))?" module="Equipe" action="membre" vars="id"/>
		<route url="/equipe" module="Equipe" action="equipe" />		
		
	<!-- ROUTES AJOUTÉES PAR LE SITE -->
	<!-- L'ordre est aléatoire ici -->
		<route url="/truc2(?:-([0-9]{4}-[0-9]{4}))?" module="PageArchivable" action="pageArchivable" vars="annee"/>	
		<route url="/truc-de-la-mort2(?:-([0-9]{4}-[0-9]{4}))?" module="PageArchivable" action="pageArchivable"/>
		<route url="/prions(?:-([0-9]{4}-[0-9]{4}))?" module="PageArchivable" action="pageArchivable"/>
		<route url="/test(?:-([0-9]{4}-[0-9]{4}))?" module="PageArchivable" action="pageArchivable"/>
		
		<route url="/url-a-mettre(?:-([0-9]{4}-[0-9]{4}))?" module="PageArchivable" action="pageArchivable"/>
<route url="/super-un-url(?:-([0-9]{4}-[0-9]{4}))?" module="PageArchivable" action="pageArchivable"/></routes>
