form
{
	margin-left: 10px;
}

#changer_mdp label
{
	width: 240px;
}

table
{
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

#liste_membre
{
	overflow-x:scroll;
	overflow-y:visible;
}


td, th
{
	border: 1px solid #AAAAAA;
	padding: 5px;
	word-wrap: break-word;
}

th
{
	background-color: #335879;
	color: white;
	
}


.impaire
{
	background-color: rgb(236, 240, 241);
}

.centrer
{
	text-align: center;
}

.bouton
{
	border: 2px solid rgb(41, 128, 185);
	border-radius: 3px;
	display: inline-block;
	margin-left: 30px;
	padding: 3px;
	background-color: rgb(52, 152, 219);
	color: white;
	vertical-align: center;
}

.bouton:hover
{
	text-decoration: none;
	background-color: rgb(41, 128, 185);
}

.acronyme
{
	text-decoration: none;
	border-bottom: dotted 1px white;
}

.note
{
	font-size: 0.9em;
	text-align: justify;
	background-color: rgba(51,88,121,0.3);
	padding: 5px;
	margin-bottom: 10px;
}

.vrai
{
	background-color: rgba(39, 174, 96, 0.4);
}

.faux
{
	background-color: rgba(192, 57, 43, 0.2);
}