.agauche
{
	text-align: left;
}

.adroite
{
	text-align: right;
}

.justifiee
{
	text-align: justify;
}

.centre
{
	text-align: center;
}

.touche
{
	
	border: 2px solid #666666;
	padding: 2px;
	margin: 1px;
	border-radius: 3px;
}

.puce_normale
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.flottantGauche
{
	float: left;
	margin: 3px;
}

.flottantDroit
{
	float: right;
	margin: 3px;
}


.flottantArret
{
    clear: both;
}

.puce