/*
	Orange : #F6AD1A
	Bleu foncÃ© : #335879
*/
section
{
	padding: 5px 0 5px 0;
}

.listePage
{
	margin: 5px 0 5px 0;
}

/*section.#bloc_news div.news:last-child
{
	margin-bottom: 10px;
	background-color: black;
}*/

.news
{
	/*box-shadow: 1px 1px 12px #AAA;*/
	margin: 0 30px 50px 30px;
	border: 1px solid #AAAAAA;
	padding: 5px;
}

.contenu
{
	padding-bottom: 5px;
}

.news h2
{
	margin-top: 2px;
	border-bottom: 1px dotted #CCCCCC;
}

.news h2 a, .news h2 a:visited, .news h2 a:hover
{
	color: #F6AD1A !important;
	text-decoration: none !important;
}

/* --- */

.metadonnees
{
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #335879;
	margin: 0 -6px -6px -6px;
	border: 1px solid #335879;
	color: white;
	clear: both;
}

.metadonnees > div
{
	display: inline-block;
	vertical-align: middle;
	width: 30.5%;
}

.action
{
	width: 5% !important;
}

.metadonnees div:nth-child(2), .metadonnees div:first-child
{
	text-align: left;
}

.metadonnees div:last-child
{
	text-align: right;
}

.metadonnees a, .metadonnees a:visited, .metadonnees a:hover
{
	color: white !important;
	text-decoration: none !important;
}

/* --- */
.changement_annee
{
	margin-bottom: 50px;
}

.suite
{
	text-align: right;
	font-size: 0.8em;
}

/* --- */
#corps .listePage:first-child
{
	margin-bottom: 20px;
}

/*---- PAGE NEWS ----*/
.info_news
{
	float: right;
	background-color: #335879;
	color: white;
	font-size: 0.8em;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.info_news ul
{
	list-style-type: none;
	padding-left: 5px;
	margin-top: 3px;
}

.info_news ul:last-child
{
	margin-bottom: 0;
}

.info_news hr
{
	width: 50px;
}

.corps_news
{
	text-align: justify;
}

.info_news img
{
	vertical-align: middle;
}

.info_news a, .info_news a:hover, .info_news a:visited
{
	color: white !important;
	text-decoration: none !important;
}

h2
{
	color: #F6AD1A;
}

#separation
{
	clear: both;
	margin-bottom: 20px;
	margin-top: 20px;
}

/* --- */
.bouton
{
	background-color: #335879;
	display: inline-block;
	padding: 5px;
	color: white;
}

.bouton:hover
{
	background-color: #F6AD1A;
}

.bouton img
{
	vertical-align: middle;
}

.aucun
{
	text-align: center;
	font-size: 0.9em;
	font-style: italic;
}

/* - commentaires - */
.message
{
	margin-bottom: 20px;
	margin-top: 15px;
}

.message aside
{
    width: 120px;
    float:left;
    vertical-align: top;
}

.message aside img
{
    border: 1px solid #BBB;
    box-shadow: 1px 1px 12px #555;
}

.msg-metadonnees
{
    border-bottom: 1px solid #BBB;
    padding-bottom: 3px;
    margin-bottom: 8px;
}

.msg-pseudo, .msg-date, .msg-action
{
    display: inline-block;
}

.msg-pseudo
{
    font-weight: bold;
    width: 31%;
}

.msg-date
{
    text-align: center;
    width: 47%;
}

.msg-action
{
    text-align: right;
    width: 20%;
}

.message .msg-bulle 
{
    position: relative;
    background: #FFFAF0; /** couleur du fond (se retrouve 2 fois) **/
    border: 3px solid #335879; /** taille de la bordure et couleur (se retrouve 2 fois) **/
    min-height:120px; /** dimensions de la cellule (du cadre) **/
    /*display: inline-block;*/
    vertical-align: top;
    /*width: 100%;*/
    margin-left: 135px;
    padding: 10px;
} 

.message .msg-bulle:after, .message .msg-bulle:before 
{
    right: 100%; /** right pour mettre la flèche à gauche ! **/
    border: solid transparent; content: ""; 
    position: absolute;
}

.message .msg-bulle:after {
    border-right-color: #FFFAF0; /** 2e indication de couleur du fond **/
    border-width: 20px; /** grandeur de la flèche **/
    top: 50px; /** position de la flèche (se retrouve 2 fois) **/
    margin-top: -20px; /** indication de la grandeur de la flèche (valeur négative) **/
    
} 

.message .msg-bulle:before 
{
    border-right-color: #335879; /** 2e indication de la couleur de la bordure **/
    border-width: 27px; /** indication de la grandeur de la flèche +7px **/
    top: 50px; /** 2e indication de la position de la flèche **/
    margin-top: -27px; /** indication de la grandeur de la flèche +7px (valeur négative) **/
} 

.com_modif
{
	border-top: 1px dotted #CCCCCC;
	font-size: 0.8em;
	text-align: right;
	font-style: italic;
	color: #AAAAAA;
	padding: 3px;
	margin: 3px 3px 3px 150px;
}