h2
{
	color: #F6AD1A;
}


.equipe_texte
{
	word-wrap: break-word;
	text-align: justify;
}

aside
{
	float: right;
	background-color: #335879;
	color: white;
	font-size: 0.8em;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	margin-left: 10px;
}

aside img
{
	vertical-align: middle;
}