@font-face {
    font-family: 'comfortaaregular';
    src: url('polices/comfortaa_regular-webfont.eot');
    src: url('polices/comfortaa_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/comfortaa_regular-webfont.woff') format('woff'),
         url('polices/comfortaa_regular-webfont.ttf') format('truetype'),
         url('polices/comfortaa_regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('polices/ubuntu-r-webfont.eot');
    src: url('polices/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/ubuntu-r-webfont.woff') format('woff'),
         url('polices/ubuntu-r-webfont.ttf') format('truetype'),
         url('polices/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Général */

a img
{
	border: none;
}

a, a:visited
{
	color: rgb(41, 128, 185);
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

/* Corps */

html 
{
	height: 100%;
}

body 
{
	height: 100%;
	margin: 0;
}

#corps
{
	margin-left: 270px;
	margin-right: 20px;
	vertical-align: top;
	text-align: justify;
	font-family: 'ubunturegular', Arial, sans-serif;
}

.titre
{
	width: 100%;
	/*position:fixed;
	display: block;
	background-color: rgb(45, 62, 80);
	margin-left: -20px;
	padding-left: 20px;
	color: white;*/
	
	border-bottom: solid white 3px;
	color: white;
	margin-top: 0;
	padding-top : 5px;
	padding-right: 5px;
	margin-left: -20px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'comfortaaregular', Arial, sans-serif;
}

.titre h1
{
	display: inline-block;
	width: 70%;
	vertical-align: middle;
}

.titre aside
{
	display: inline-block;
	width: 210px;
	float: right;
	height: 50px;
	vertical-align: middle;
	border: solid rgb(44, 62, 80);
	border-radius: 5px;
	padding: 5px;
	background-image : url("../images/fondGris.png");
}

#bulleMembre
{
	width: 200px;
}

#avatarBulle
{
	height: 50px;
	width: 40px;
	display: inline-block;
	vertical-align: top;
}

#txtBulle
{
	height: 50px;
	display: inline-block;
	vertical-align: top;
	color: white;
}

#txtBulle a
{
	color: white;
	text-decoration: none;
}

#txtBulle ul
{
	list-style: none;
	padding: 0;
	margin: 5px;
}

#titre img
{
	vertical-align: middle;
}

#corps .alinea
{
	text-indent: 25px;	
}

#pdp_bas
{
	text-align: center;
	color: rgb(149, 165, 166);
	margin-top: 15px;
	/*margin-bottom: 30px;*/
}

/* Menu */

#menu
{
	width: 250px;
	height: 100%;
	background-color: rgb(230, 126, 34);
	float: left;
	margin-right: 0px;
	position: fixed;
	/*overflow: scroll;*/
}

@media only screen and (max-height: 600px)
{
   #menu
	{
		overflow: scroll;
	}

}



	/* En-tête */

	header
	{
		background-color: rgb(230, 126, 34);
		text-align: center;
	}

	/* Nav */

	nav
	{
		background-color: rgb(230, 126, 34);
	}

	#menu, h1, h2, h3, h4, h5, h6
	{
		font-family: 'comfortaaregular', Arial, sans-serif;
	}

	#tab_menu
	{
		width: 251px;
		height: 100%;
		margin: 0;
		padding: 0;
		border-collapse: collapse;
		border: none;
	}

	#menu_cell_haut
	{
		vertical-align: middle;
		text-align: center;
	}

	#menu_cell_centrer
	{
		vertical-align: middle;
	}

	#menu_cell_bas
	{
		vertical-align: bottom;
	}

	#menu ul
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	#menu li img
	{
		vertical-align: middle;
	}

	#menu a, #menu a:visited
	{
		color: white;
		text-decoration: none;
		font-variant: small-caps;
		font-size: 1.5em;
		display: block;
	}

		/*--- menus ---*/
		#menu_gallerie img, #menu_gallerie a:hover, .titre_gallerie
		{
			background-color: rgb(231, 76, 60);
		}

		#menu_partenaires img, #menu_partenaires a:hover, .titre_partenaires
		{
			background-color: rgb(241, 196, 15);
		}

		#menu_accueil img, #menu_accueil a:hover, .titre_accueil
		{
			background-color: rgb(41, 128, 185);
		}

		#menu_taches img, #menu_taches a:hover, .titre_taches
		{
			background-color: rgb(39, 174, 96);
		}

		#menu_membres img, #menu_membres a:hover, .titre_membres
		{
			background-color: rgb(142, 68, 173);
		}

		#menu_actualites img, #menu_actualites a:hover, .titre_news
		{
			background-color: rgb(211, 84, 0);
		}

		#menu_connexion img, #menu_connexion a:hover, .titre_connexion
		{
			background-color: rgb(26, 188, 156);
		}
		
		.titre_erreur
		{
			background-color: rgb(192, 57, 43);
		}

	/* Pied de page */

	footer
	{
		background-color: rgb(230, 126, 34);
	}

	#copyright
	{
		text-align: center;
		margin-bottom: 0;
		margin-top: 0;
		font-size: 0.8em;
		text-indent: none;
		color: white;
	}

	footer table
	{
		width: 249px;
		margin: 0;
		padding: 0;
		border-collapse: collapse;
		border: none;
		text-align: center;
	}

	#pdp_tab
	{
		position: relative;
		text-align: center;
	}

	#pdp_cell
	{
		width: 30%;
		display: inline-block;
	}

/* --- Autres éléments --- */

#flash
{
	border-radius: 3px;
	text-align: left;
	padding: 5px;
	margin-bottom: 10px;
}

.flash_info
{
	border: 2px solid rgb(39, 174, 96);
	background-color: rgba(39, 174, 96, 0.2);
}

.flash_erreur
{
	border: 2px solid rgb(192, 57, 43);
	background-color: rgba(192, 57, 43, 0.2);
}

.flash_question
{
	border: 2px solid rgb(41, 128, 185);
	background-color: rgba(41, 128, 185, 0.2);
}

.flash_attention
{
	border: 2px solid rgb(241, 196, 15);
	background-color: rgba(241, 196, 15, 0.2);
}

#flash img, #flash span
{
	display: inline-block;
	vertical-align: middle;
}

.souligne
{
	text-decoration: underline;
}

.moderation
{
	border: 2px solid rgb(192, 57, 43);
	border-radius: 3px;
	background-color: rgba(231, 76, 60, 0.2);
	text-align: left;
	padding: 5px;
	margin-top: 3px;
}

label
{
    display: block;
    width: 150px;
    float: left;
}