/* Polices */
@font-face {
    font-family: 'playtime';
    src: url('../polices/playtime-webfont.eot');
    src: url('../polices/playtime-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/playtime-webfont.woff') format('woff'),
         url('../polices/playtime-webfont.ttf') format('truetype'),
         url('../polices/playtime-webfont.svg#playtime_with_hot_toddiesRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playtimeOblique';
    src: url('../polices/PlaytimeOblique-webfont.eot');
    src: url('../polices/PlaytimeOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/PlaytimeOblique-webfont.woff') format('woff'),
         url('../polices/PlaytimeOblique-webfont.ttf') format('truetype'),
         url('../polices/PlaytimeOblique-webfont.svg#playtimewithhottoddiesobliqRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaa';
    src: url('../polices/comfortaa_regular-webfont.eot');
    src: url('../polices/comfortaa_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/comfortaa_regular-webfont.woff') format('woff'),
         url('../polices/comfortaa_regular-webfont.ttf') format('truetype'),
         url('../polices/comfortaa_regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'numans';
    src: url('../polices/numans-regular-webfont.eot');
    src: url('../polices/numans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/numans-regular-webfont.woff') format('woff'),
         url('../polices/numans-regular-webfont.ttf') format('truetype'),
         url('../polices/numans-regular-webfont.svg#numansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntuconsole';
    src: url('../polices/ubuntumono-r-webfont.eot');
    src: url('../polices/ubuntumono-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/ubuntumono-r-webfont.woff2') format('woff2'),
         url('../polices/ubuntumono-r-webfont.woff') format('woff'),
         url('../polices/ubuntumono-r-webfont.ttf') format('truetype'),
         url('../polices/ubuntumono-r-webfont.svg#ubuntu_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Structures */
html {
  height: 100%;
}

body {
	height: 100%;
	background-color: rgb(240, 240, 240);
	margin: 0;
}

#bloc_page
{
	position:relative;
	min-height: 100%;
	width: 1000px;
	margin: auto;
	background-color: rgb(255, 255, 255);
	margin-top: 0;
	margin-bottom: 0;
	box-shadow: 1px 1px 12px #555;
}

#corps
{
	padding: 10px 10px 120px 10px; /* Troisième paramètre à adapter à la taille du footer (tailleFooter+10) */
}

header
{
	background-image:url(../images/banniere.png);
	height: 228px;
	padding: 0px;
	margin: 0;
}

nav{
padding-left: 10px;
padding-right: 10px;
}

#menu, #menu ul{
padding:0;
margin:0;
list-style:none;
text-align:left;
}
#menu li{
display:inline-block;
position:relative;
/*border-radius:8px 8px 0 0;*/
}
#menu ul li{
display:inherit;
border-radius:0;
padding-left: 5px;
}
#menu ul li:hover{
border-radius:0;
}
#menu ul li:last-child{
/*border-radius:0 0 8px 8px;*/
}
#menu ul{
position:absolute;
max-height:0;
width:100%;
overflow:hidden;
/* Déploiement progressif */
-moz-transition: .8s all .1s;
-webkit-transition: .8s all .1s;
transition: .8s all .1s;
}

#menu li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu li, nav, footer{
background-color: #F6AD1A;
}

/* background des liens sous menus */
#menu li li{
background: rgb(51,51,51);
}

/* background des liens menus et sous menus au survol */
#menu li:hover{
background:rgb(253,196,0);
}

#menu li li:hover{
background:rgb(91,91,91);
}

/* les a href */
#menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:comfortaa, komika, arial;
}
#menu ul a{
padding:8px 0;
}
#menu li:hover li a{
color:#fff;
text-transform:inherit;
}

footer
{
	position:absolute;
	bottom:0;
	width:100%;
	height: 110px;
	color: white;
	font-family:comfortaa, arial;
	
}

#footer_gauche, #footer_droit
{
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

footer ul
{
	list-style: none;
}

#footer_centre
{
	text-align: center;
	font-size: 0.7em;
}

footer a, footer a:visited
{
	color: white;
	text-decoration: none;
}

footer img
{
	vertical-align: middle;
}

/* Éléments généraux */
#corps a, #corps a:visited
{
	color: rgb(74, 128, 176);
	text-decoration: none;
}

#corps a:hover
{
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6
{
	font-family: playtime, Arial;
	/*margin: 0;*/
}

#corps
{
	font-family: numans, Verdana;
}

label /* Alignement des formulaires */
{
	display: inline-block;
	width: 160px;
	/*float: left;*/
	margin-bottom: 10px;
	vertical-align: top;
}

abbr, acronym, .abbr_info
{
	border-bottom: 1px dotted black;
	cursor:help;
}

input[type=checkbox]
{
	margin-left: 0px;
	padding-left: 0;
}

input:focus
{
	background-color: rgb(236, 240, 241);
}

/* --- Flash --- */

#flash
{
	border-radius: 3px;
	text-align: left;
	padding: 5px;
	margin-bottom: 10px;
}

.flash_info
{
	border: 2px solid rgb(39, 174, 96);
	background-color: rgba(39, 174, 96, 0.2);
}

.flash_erreur
{
	border: 2px solid rgb(192, 57, 43);
	background-color: rgba(192, 57, 43, 0.2);
}

.flash_question
{
	border: 2px solid rgb(41, 128, 185);
	background-color: rgba(41, 128, 185, 0.2);
}

.flash_attention
{
	border: 2px solid rgb(241, 196, 15);
	background-color: rgba(241, 196, 15, 0.2);
}

#flash img, #flash span
{
	display: inline-block;
	vertical-align: middle;
}

/* - Compteur de page - */
.listePage
{
	margin: 10px 5px 10px 5px !important;
}

.txtPage
{
	font-weight: bold;
	margin-right: 10px;
}

.listePage a
{
	display: inline-block;
	background-color: #335879;
	color: white !important;
	padding: 3px;
	/*margin: 0 5px 0 5px;*/
	min-width: 15px;
	font-size: 1.2em;
	text-align: center;
	
	/*box-shadow: 1px 1px 5px #335879;
	border-radius: 3px;*/
}

.listePage a:hover
{
	background-color: #F6AD1A;
	text-decoration: none !important;
	color: white;
}

.pageActuelle
{
	display: inline-block;
	min-width: 15px;
	font-size: 1.2em;
	text-align: center;
	background-color: rgb(51,51,51);
	color: white;
	padding: 3px;
}

.moderation
{
	padding: 3px;
	border: 2px solid rgb(192, 57, 43);
	background-color: rgba(192, 57, 43, 0.2);
	width: 99%;
}

.cache
{
	display: none;
	visibility: hidden;
}

.attention
{
	border-radius: 3px;
	text-align: left;
	padding: 5px;
	margin-bottom: 10px;
	display: inline-block;
	border: 2px solid rgb(241, 196, 15);
	background-color: rgba(241, 196, 15, 0.2);
}

.attention img
{
	vertical-align: middle;
}

/*blockquote
{
	background-color: rgb(235,235,235);
	border-radius : 3px;
	border: 2px solid rgb(51,51,51);
	padding: 5px;
	margin: 5px;
}*/

blockquote {
    border: 2px solid rgb(51,51,51);
    border-radius : 3px;
    background-color: rgb(235,235,235);
    border-top: none;
    padding: 0.5em;
    margin: 1em 2px;
}
blockquote > .auteur_citation {
    font: 1em normal;
    margin: -1em -0.5em 0;
    font-family: numans, Verdana;
}   
blockquote > .auteur_citation > span {
    float: left;
      
}
    blockquote > .auteur_citation:before {
        border-top: 2px solid rgb(51,51,51);
        border-radius : 3px;
        content: ' ';
        float: left;
        margin: 0.5em 2px 0 -1px;
        width: 0.75em;
    }
    blockquote > .auteur_citation:after {
        border-top: 2px solid rgb(51,51,51);
        border-radius : 3px;
        content: ' ';
        display: block;
        height: 1.5em;
        left: 2px;
        margin: 0 1px 0 0;
        overflow: hidden;
        position: relative;
        top: 0.5em;
    }
    
kbd
{
	background-color:#F8F6EA;
	padding:2px 6px;
	border-radius:3px;
	border:1px solid #e0dab6;
	border-bottom-width:3px;
	text-shadow:0 1px 0 #FFF;
	color:#5e551f
}


.bt-editeur {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:black !important;
	font-family:iconmoon;
	font-size:15px;
	font-weight:bold;
	padding:5px 7px;
	text-decoration:none !important;
	text-shadow:0px 1px 0px #ffffff;
}
.bt-editeur:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.bt-editeur:active {
	position:relative;
	top:1px;
}
